@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono:700');

// Update Bulma's global variables
$family-sans-serif: "Roboto", serif;
$family-monospace: "Roboto Mono", mono;
$title-family: $family-monospace;
$widescreen-enabled: false;
$fullhd-enabled: false;

$content-heading-weight: 300;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

// Customize
@media (max-width: $tablet) {
    .navbar-brand {
        .navbar-item {
            max-width: 90%;
        }
    }
}
.hero .field.has-addons {
    justify-content: center;
}
.hero.is-light a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current), .hero.is-light strong {
    color: #3273dc;
}
